@import "_nav"

html
	background: lighten(pink, 50%)

body
	font-family: "Verdana"
	background: #CCC
	display: inline-block
	text-align: center
	width: 50%
	float: right

p
	text-align: left

.well
	background: #eee