doctype
html
  head
    link(rel="stylesheet", href="/css/main.css")
    link(rel="stylesheet", href="css/other.css")
  body
    #header
      h1 Two Stylsheets Test
      include shared/_nav
      != yield