h2 Test
p

p In this app, two stylesheets are included in <code>_layout.jade</code>. One compiled successfully and the other did not.
p The styling for this error needs to have <code>!important</code> on <em>everything</em> so it doesn’t get overwritten accidentally by the app’s styles.