!!!
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
		//- title #{ pkg.name } #{ pkg.version }
		title Harp
		meta(name="handheldfriendly", content="true")
		meta(name="mobileoptimized", content="320")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="cleartype", content="on")

		| <style type="text/css">
		include css/harp.css
		| </style>
	body
		#main.main(role="main")
			!= yield
